@{
	ViewBag.Title = "Todo List";
}

@section scripts {
	<script src="~/js/libs/require.js"></script>
	<script>
		require.config({
			baseUrl: "js",
			paths: {
				"knockout": "libs/knockout-3.4.0"
			}
		});

		require(["TodoViewModel", "knockout"], function (ViewModelExports, ko) {
			var vmClass;
			if (ViewModelExports.default)
				vmClass = ViewModelExports.default;
			else
				vmClass = ViewModelExports.ViewModel;

			var vm = new vmClass();
			ko.applyBindings(vm);
		});
	</script>
}

<h3>Todos:</h3>

<section id="todoapp">
	<section id="header">
		<form data-bind="submit: function () { AddItem(document.querySelector('#new-todo').value); }">
			<input id="new-todo" type="text" data-bind="textInput: Current" placeholder="What do you want to do?" />
		</form>
	</section>

	<section id="main" data-bind="visible: Todos().length">
		<ul id="todo-list" data-bind="foreach: Todos">
			<li data-bind="css: { completed: Completed, editing: Editing }">
				<div class="view">
					<input type="checkbox" data-bind="checked: Completed" class="toggle" />
					<label data-bind="text: Title, event: { dblclick: $root.EditItem.bind($root) }"></label>
					<button class="destroy" data-bind="click: $root.RemoveItem.bind($root)">Remove</button>
				</div>
				<form data-bind="submit: function () { $root.SaveEditing($data, document.querySelector('#edit').value); }">
					<input id="edit" type="text" class="edit" data-bind="textInput: Title, event: { blur: function () { $root.SaveEditing($data, this.value); } }" />
				</form>
			</li>
		</ul>
	</section>
</section>